.sideBar{
    min-height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    left: auto;
    z-index: 100;
    transform: translate(0);
    max-width: 518px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
    padding: 27px 40px 38px;
}
.sideBar__header{
    border-bottom: 1px solid #000000;
    margin-bottom: 55px;
    padding-bottom: 25px;
}
div.sideBar__group{
    margin-bottom: 28px;

}
.sideBar form{
    margin-bottom: 60px;

}
.sideBar__group:last-of-type{
    margin-bottom: 50px;

}
.sideBar__buttons{
    width: 100%;
    padding: 25px 39px 25px ;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(196, 196, 196, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.MuiModal-root{
    /* background: none !important; */
    overflow-y: scroll;

}
span.sideBar__error{
    position: relative;
    transform: none;
    bottom: 0;
}
.form__label-required::after{
    content: '*';
    position: relative;
    left: 5px;
}